.chooseChakra{
	z-index: 100;
	position: relative;
	top: 500px;
	background-color: gray;
    font-size: 120px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.firstChakras{
	z-index: 99;
	opacity: 0;
	margin-bottom: 60px !important;
	background-color: gray;
	position: relative;
	bottom: 125px;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	font-size: 100px;
}