.chooseChakra{
	z-index: 1000;
    box-shadow: 0px 0px 100px #000;
    border-radius: 45px;
    position: relative;
    top: 100px;
    background-color: rgb(142, 68, 173);
    font-size: 120px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.firstRoot{
	/*position: relative;*/
	/*top: 900px;*/
}

.firstChakras{
	z-index: 99;
	display: none;
	margin-bottom: 60px !important;
	background-color: gray;
	position: relative;
	bottom: 125px;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	font-size: 100px;
}
.crownImage{
    display: none;
    right: 373px;
    margin: 0 auto;
    position: absolute;
    bottom: 399px;
    width: 267px;
    height: 260px;
}
.thirdImage{
    display: none;
    right: 373px;
    margin: 0 auto;
    position: absolute;
    bottom: 399px;
    width: 267px;
    height: 260px;
}
.throatImage{
    display: none;
    right: 373px;
    margin: 0 auto;
    position: absolute;
    bottom: 399px;
    width: 267px;
    height: 260px;
}
.heartImage{
    display: none;
    right: 373px;
    margin: 0 auto;
    position: absolute;
    bottom: 399px;
    width: 267px;
    height: 260px;
}
.solarImage{
    display: none;
    right: 373px;
    margin: 0 auto;
    position: absolute;
    bottom: 753px;
    width: 225px;
    height: 260px;
}
.sacralImage{
	display: none;
    right: 373px;
    margin: 0 auto;
    position: absolute;
    bottom: 753px;
    width: 225px;
    height: 260px;
}
.rootImage{
    display: none;
    right: 373px;
    margin: 0 auto;
    position: absolute;
    bottom: 923px;
    width: 225px;
    height: 225px;
}
.crownImgCont,
.thirdImgCont,
.throatImgCont,
.heartImgCont,
.solarImgCont,
.sacralImgCont,
.rootImgCont{
	text-align: center;
	width: 100%;
	position: relative;
}
.crownHertzContainer{
    z-index: 101;
    text-align: center;
    position: relative;
    bottom: 598px;
}
.thirdHertzContainer{
    z-index: 101;
    text-align: center;
    position: relative;
    bottom: 598px;
}
.throatHertzContainer{
    z-index: 101;
    text-align: center;
    position: relative;
    bottom: 598px;
}
.heartHertzContainer{
    z-index: 101;
    text-align: center;
    position: relative;
    bottom: 598px;
}
.solarHertzContainer{
    z-index: 101;
    text-align: center;
    position: relative;
    bottom: 598px;
}
.sacralHertzContainer{
	z-index: 101;
	text-align: center;
    position: relative;
    bottom: 598px;
}
.rootHertzContainer{
	/*display: none;*/
	z-index: 101;
	text-align: center;
    position: relative;
    bottom: 600px;
}
.rootHeader{
	font-size: 120px;
	position: relative;
}
.f216,
.f432,
.f864,
.f144,
.f288,
.f576,
.f192,
.f384,
.f768,
.f128,
.f256,
.f512,
.f182,
.f364,
.f728,
.f303,
.f606,
.f1212,
.f228,
.f456,
.f912{
	display: none;
	border-radius: 45px;
    margin-bottom: 46px !important;
    font-size: 100px;
    position: relative;
    background-color: gray;
    width: 50%;
    margin: 0 auto;
}
































