$mainFont: 'Poiret One', cursive;
$rootColor: rgba(229, 57, 53, 1);
$sacralColor: rgba(255, 152, 0, 1);
$solarPlexusColor: rgba(255, 235, 59, 1);
$heartColor: rgba(40, 180, 99, 1);
$throatColor: rgba(129, 212, 250, 1);
$thirdColor: rgba(63, 81, 181, 1);
$crownColor: rgba(146, 38, 146, 1);
$darkGray: rgba(128, 139, 150, 1);
$lightGray: rrgba(86, 101, 115, 1);
