@import 'variables';

@import 'hertz';
@import 'keyframes';
@import 'intro';
@import 'style';
@import 'firstChoice';
@import 'chooseChakra';
@import 'rootHeader';

html,body{
	min-height: 100%;
}
body{
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}